body {
  margin: 0;
  overflow: hidden;
}

.status {
  position: absolute;
  top: 4px;
  right: 4px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
  user-select: none;
}

.mini {
  display: block;
  right: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
}

.pixelated {
  image-rendering: pixelated;
}
